.week {
  margin: 0 2px 4px;
  min-width: 10px;
  height: 35px;
  border: 1px solid rgb(172, 172, 172);
  position: relative;
}

.tooltip-available {
  height: 35px;
  border-bottom: 4px solid #b3b3b3;
}

.week:not(.empty) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 8px;
}

.week:not(.birthday) span {
  font-size: 0.85rem;
}

.week.birthday {
  background-color: rgb(255, 246, 193);
}

.week.example-background {
  background-color: red;
}

.week.today {
  background: #505050;
}

.week.today > span {
  color: white;
}

.week:hover {
  cursor: default;
}

.week:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
